<div class="row">
    <div class="col-lg-6 col-12">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>Current Account</h3>

          <p>Account Number: 123456776981</p>
          <p>Full Name: Asel Promodya</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-12">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>$ 17,288.29</h3>

          <p>Effective Available Balance</p>
          <p>Status: <span class="badge bg-success">Active</span></p>
        </div>
        <div class="icon">
          <i class="ion ion-cash"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>
<div class="row">
    <div class="col-md-8">
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Transfer Money</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Transfer Amount</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Transfer Amount">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Sender Remarks</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Sender Remarks">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Beneficiary Remarks</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Beneficiary Remarks">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">To Account Number</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter To Account Number">
            </div>
        </div>
            <!-- /.card-body -->
        
            <div class="card-footer">
            <button type="submit" class="btn btn-warning swalDefaultSuccess" (click)="showToast()">
              Proceed 
            </button>
          </div>
        </form>
      </div>
    </div>
    <section class="col-md-4">  
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            All Accounts
          </h3>
          <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th style="width: 40px">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Update software</td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                  </div>
                </td>
                <td><span class="badge bg-danger">55%</span></td>
              </tr>
              <tr>
                <td>Clean database</td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                  </div>
                </td>
                <td><span class="badge bg-warning">70%</span></td>
              </tr>
              <tr>
                <td>Cron job running</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar bg-primary" style="width: 30%"></div>
                  </div>
                </td>
                <td><span class="badge bg-primary">30%</span></td>
              </tr>
              <tr>
                <td>Fix and squish bugs</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar bg-success" style="width: 90%"></div>
                  </div>
                </td>
                <td><span class="badge bg-success">90%</span></td>
              </tr>
              <tr>
                <td>Fix and squish bugs</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar bg-success" style="width: 90%"></div>
                  </div>
                </td>
                <td><span class="badge bg-success">90%</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    
</div>
  <!-- /.card -->