<div class="card">
    <div class="card-header">
      <h3 class="card-title">Details about Customers</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>User ID</th>
          <th>Username</th>
          <th>FullName</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Address</th>
          <th>Email</th>
          <th>Contact Number</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let customer of customers; let i = index">
          <td>{{i + 1}}</td>
          <td>{{customer.user_id}}</td>
          <td>{{customer.username}}</td>
          <td>{{customer.fullname}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.dob}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.contact_no}}</td>
        </tr>
      </table>
      <p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->