<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-6 col-12">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>Welcome, {{ username }}!</h3>

        <p>
          Account Type: <span class="badge bg-danger">{{ userType }}</span>
        </p>
      </div>
      <div class="icon">
        <i class="ion ion-person"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-6 col-12">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>Rs. {{ balance }}</h3>
        <p>
          Account Number:
          <span class="badge bg-warning">{{ accountNumber }}</span>
        </p>
      </div>
      <div class="icon">
        <i class="ion ion-cash"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">All Accounts</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px">
            <input
              type="text"
              name="table_search"
              class="form-control float-right"
              placeholder="Search"
              [(ngModel)]="searchTerm" 
            />


            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th></th>
              <th>Saving Type</th>
              <th>Account Number</th>
              <th>Account Type</th>
              <th>Branch</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts ? accounts : [] | filterPipe:searchTerm" (click)="updateSmallBox(account); selectedAccount = account" class="cursor-pointer" [ngClass]="{'selected': selectedAccount == account}">
              <td>
                <i
                  class="fas fa-check-circle"
                  *ngIf="account.saving_type == 'CURRENT'"
                ></i>
                <i
                  class="fas fa-bookmark"
                  *ngIf="account.saving_type != 'CURRENT'"
                ></i>
              </td>
              <td>
                <span
                  class="badge bg-primary"
                  *ngIf="account.saving_type == 'CURRENT'"
                  >Current</span
                >
                <span
                  class="badge bg-danger"
                  *ngIf="account.saving_type == 'SAVING'"
                  >Saving</span
                >
              </td>
              <td>
                {{ '*'.repeat(account.account_id.toString().length - 2) }}
                {{ account.account_id.toString().substr(-2) }}
              </td>
              <td>
                <span
                  class="badge bg-success"
                  *ngIf="account.account_type == 'ORGANIZATION'"
                  >Organization</span
                >
                <span
                  class="badge bg-warning"
                  *ngIf="account.account_type == 'PERSONAL'"
                  >Personal</span
                >
              </td>
              <td>{{ account.branch_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
