<div class="row" *ngIf="!fds || fds.length === 0">
  <div class="col-md-8">
    <div class="card card-default">
      <div class="card-body">
        <div class="alert alert-danger alert-dismissible">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
          >
            &times;
          </button>
          <h5><i class="icon fas fa-ban"></i> Alert!</h5>
          You can't apply for an online loan because you don't have any fixed deposit. If you want to apply for a loan, you need to have a fixed deposit.
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
  <div class="loan-content" *ngIf="fds.length != 0">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Apply for a Loan</h3>
          </div>
          <!-- disable the form if fds value is null -->

          <form>
            <div class="card-body">
              <div class="form-group">
                <label>Choose a fixed deposit</label>
                <select
                  class="form-control select2"
                  style="width: 100%"
                  [(ngModel)]="selectedFD" (change)="onFDSelected()"
                  name="selectedFD"
                >
                <option *ngFor="let account of fds" [ngValue]="account">
                  FD ID: {{ account.fd_id }} , 
                  Duration: {{ convertDuration(account.duration) }}, 
                  Amount: {{ account.amount }}
                </option>
                </select>
                <select
                  class="form-control select2"
                  disabled="disabled"
                  style="width: 100%"
                  *ngIf="!fds"
                ></select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Loan Amount <small *ngIf="maximumLoanAmount">(Your maximum amount should be less or equal than {{maximumLoanAmount}})</small></label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter Loan Amount"
                  [(ngModel)]="loanAmount"
                  name="loanAmount"
                  (ngModelChange)="checkLoanAmount()" 
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Select Loan Paying Type</label>
                <select
                  class="form-control select2"
                  style="width: 100%"
                  [(ngModel)]="selectedLoan" (ngModelChange)="onLoanSelected()"
                  name="selectedPackage"
                >
                  <option *ngFor="let package of packageArray" [value]="package.index">
                    package id: {{ package.index }}, duration: {{ package.period}}, interest rate: {{ package.interest }}
                  </option>
                </select>
              </div>
              <div class="form-group clearfix">
                <label>Select Loan Type</label><br>
                <div class="icheck-primary d-inline gender-selection">
                  <input type="radio" [(ngModel)]="selectedLoanType" name="loanType" value="Personal" id="radioPrimary1" checked>
<label for="radioPrimary1">Personal</label>
                </div>
                <div class="icheck-danger d-inline gender-selection">
                  <input type="radio" [(ngModel)]="selectedLoanType" name="loanType" value="Business" id="radioPrimary2">
<label for="radioPrimary2">Business</label>
                </div>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-warning swalDefaultSuccess" (click)="proceed()">
                Proceed
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Your previous loans</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Loan ID</th>
                <th>Amount</th>
                <th>Starting Date</th>
                <th>Duration</th>
                <th>Interest</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loan of loans; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{loan.loan_basic_detail_id}}</td>
                <td>{{loan.amount}}</td>
                <td>{{loan.starting_date}}</td>
                <td>{{loan.duration_days}}</td>
                <td>{{loan.interest}}%</td>
                <td>{{loan.loan_type}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>