<div class="row" *ngIf="!savingAccounts">
  <div class="col-md-8">
    <div class="card card-default">
      <div class="card-body">
        <div class="alert alert-danger alert-dismissible">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
          >
            &times;
          </button>
          <h5><i class="icon fas fa-ban"></i> Alert!</h5>
          You don't have any saving account. Please create a saving account to be able to create a fixed deposit.
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<div class="fd-main-content" *ngIf="savingAccounts">
  <div class="row">
    <div class="col-md-8">
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Place a Fixed Deposit</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
            <div class="form-group">
              <label>Choose a saving account</label>
              <select
                class="form-control select2"
                style="width: 100%"
                [(ngModel)]="selectedSavingAccount"
                name="selectedSavingAccount"
              >
                <option *ngFor="let account of savingAccounts">
                  account_id: {{ account.account_id }}, account_type:
                  {{ account.account_type }}, available balance:
                  {{ account.amount }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label>Select the most suitable fixed deposit package</label>
                <select
                  class="form-control select2"
                  style="width: 100%"
                  [(ngModel)]="selectedPackage"
                  name="selectedPackage"
                >
                  <option *ngFor="let package of packageArray">
                    package id: {{ package[0] }}, duration: {{ package[1] }}, interest rate: {{ package[2] }}
                  </option>
                </select>
              </div>  
          </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Amount <small>(This value must be less than your saving account balance)</small></label>
                <input type="text" class="form-control" id="exampleInputText" 
                placeholder="Amount you suppose to deposit in your fixed deposit"
                [(ngModel)]="fdAmount"
                name="fdAmount">
            </div>
        </div>
            <!-- /.card-body -->
  
            <div class="card-footer">
            <button type="submit" class="btn btn-warning swalDefaultSuccess" (click)="checkForm()">
              Proceed
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Your previous fixed deposits</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        
<table id="example1" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>fixed deposit id</th>
      <th>saving account id</th>
      <th>duration</th>
      <th>RPA(rate per annum)</th>
      <th>Opened Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fd of fds; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ fd.fd_id }}</td>
      <td>{{ fd.saving_account_id }}</td>
      <td>{{convertDuration(fd.duration)}}</td>
      <td>{{ fd.rate_per_annum }}%</td>
      <td>{{ fd.fd_opening_date | date: 'yyyy-MM-dd'}}</td>
      <td>{{ fd.amount }}</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
  </div>
</div>
