

  <h1>Register Customer</h1>

 

  <form>
    <div class="private-details">
      <h2>Personal Information</h2>
        <label>Title</label>
                  <select class="drop" style="width: 100%;">
                         <option selected="selected">Select option</option>
                    <option >Mr</option>
                    <option>Mrs</option>
                    <option>Ms</option>
                    <option>Rev</option>
                    <option>Dr</option>
                    <option>Other</option>
                 
                  </select>
     
      
    <label for="name">Full Name:</label><br>
    <input type="text" id="name" name="name"><br>
      <label for="name">Name with Initials:</label><br>
      <input type="text" id="name" name="name"><br>
      
      <label>Gender</label>
   <select class="drop" style="width: 100%;">
     <option selected="selected">Select option</option>
                    <option >Male</option>
                    <option>Female</option>
                    <option>Other</option>
        
                 
                  </select>
     
                  <label>Civil Status</label>
                  <select class="drop" style="width: 100%;">
                         <option selected="selected">Select option</option>
                    <option      >Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                    <option>Widowed</option>
                 
                  </select>
             
      <label for="start-date" id="bdate">Date Of Birth:</label>
<input type="date" id="iptdate">
         <label for="email">N.I.C Number:</label><br>
    <input type="number" id="email" name="email"><br>
    </div> 
    <div><h2>Contact Information</h2>
          <label for="email">Permanent Address:</label><br>
    <input type="text" id="email" name="email"><br>
     <input type="text" id="email" name="email"><br>
      <input type="text" id="email" name="email"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
     <label for="email">Contact Number:</label><br>
    <input type="number" id="email" name="email"><br>
    

 


    </div>
    <div class="private-details">
      
      <h2>Employment Information</h2>
      <label for="name">Present Employer:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="name">Occupancy:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="loan-amount">  Years of experience:</label><br>
    <input type="number" id="Annual Income" name="Annual Income"><br>

 

     <label for="email">Contact Number:</label><br>
    <input type="number" id="email" name="email"><br>

 


    </div>
    
 <div>
   <label for="name">Sign:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="start-date" id="bdate">Date :</label>
   
<input type="date" id="iptdate">
   
    <input type="submit" value="Submit">
    </div>
  </form>