.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white !important; /* Buttons should always have white text */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button1 {
  background-color: #FA8072;
  color: white !important;
}
.button2 {
  background-color: #008CBA;
  color: white !important;
}