<div>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav additional-button-bar" ng-hide="isSmallScreen()">
        <li class="nav-item">
          <a class="nav-link" routerLink="./manager-home" role="button"><i class="nav-icon fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./manager-add-employee" role="button"><i class="nav-icon fa fa-user" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./manager-loan-approval" role="button"><i class="nav-icon fas fa-handshake"  aria-hidden="true"></i></a>
        </li>
      </ul>
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Settings -->
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="./manager-settings">
            <i class="fa fa-cogs" aria-hidden="true"></i>
          </a>
        </li>
        <!-- Full Screen -->
        <li class="nav-item top-nav-item">
          <a class="nav-link" role="button" mat-button data-widget="fullscreen">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <!-- Exit -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" (click)="exit()">
            <i class="fa fa-door-open" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a routerLink="/dashboard" class="brand-link top-logo" style="position: initial;">
        <img src="assets\logo.png" alt="Logo" class="elevation-4" style="height: 80px">
      </a>
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item nav-item-edit">
              <a routerLink="./manager-home" class="nav-link" routerLinkActive="active">
                <i class="nav-icon fa fa-home" aria-hidden="true"></i>
                <p>
                  Home
                </p>
              </a>
            </li>
            <li class="nav-item nav-item-edit">
              <a routerLink="./manager-add-employee" class="nav-link" routerLinkActive="active">
                <i class="nav-icon fa fa-user" aria-hidden="true"></i>
                <p>
                    Add Employee
                </p>
              </a>
            </li>
            <li class="nav-item nav-item-edit">
              <a routerLink="./manager-loan-approval" class="nav-link" routerLinkActive="active">
                <i class="nav-icon fas fa-handshake"  aria-hidden="true"></i>
                <p>
                    Loan Approval
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2022-2023 <a href="https://github.com/CSE-Semester3-Group7-Project/Fontend.git">DBS Group7</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
      </div>
    </footer>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>