<h1>Manual Loan Creation</h1>
<p id="p1">Please fill out the form below to apply for a loan.</p>
<form>
  <div class="private-details">
    <h2>Contact Information</h2>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
   <label for="email">Contact Number:</label><br>
  <input type="email" id="email" name="email"><br>
    
  <label for="email">Address:</label><br>
  <input type="email" id="email" name="email"><br>
   <input type="email" id="email" name="email"><br>
    <input type="email" id="email" name="email"><br>
  </div>
  <div class="private-details">
    
    <h2>Employment Information</h2>
    <label for="name">Present Employer:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="name">Occupancy:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="loan-amount">  Years of experience:</label><br>
  <input type="number" id="Annual Income" name="Annual Income"><br>



   <label for="email">Contact Number:</label><br>
  <input type="email" id="email" name="email"><br>
     


  </div>
  
  <div>
  <label for="loan-amount">Loan Amount:</label><br>
  <input type="number" id="loan-amount" name="loan-amount"><br>
  <label for="loan-amount">Annual Income:</label><br>
  <input type="number" id="Annual Income" name="Annual Income"><br>
  <label for="purpose">Purpose of Loan:</label><br>
  <textarea id="purpose" name="purpose"></textarea><br>
  <input type="submit" value="Submit">
  </div>
</form>