<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Employee Withdrawal</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="card-body">
                <div class="form-group">
                    <label for="account_number">Account number</label>
                    <input type="account_number" class="form-control" id="account_number" placeholder="Enter account number">
                  </div>
            
                  <div class="form-group">
                    <label for="amount">Amount(RS. )</label>
                    <input type="amount" class="form-control" id="amount" placeholder="Amount">
                  </div>
            
               
                
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

          </div>  
          </div>
        </div>
    </div>
        </section>
