<div class="row">
    <!-- left column -->
    <div class="col-md-10">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Change Your Details</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Full Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Show</label
              >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Address</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Contact Number</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label>Date of Birth</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
              <label>Gender</label><br>
              <div class="icheck-primary d-inline gender-selection">
                <input type="radio" id="radioPrimary1" name="r1" checked>
                <label for="radioPrimary1">
                  Male
                </label>
              </div>
              <div class="icheck-danger d-inline gender-selection">
                <input type="radio" id="radioPrimary2" name="r1">
                <label for="radioPrimary2">
                  Female
                </label>
              </div>
              <div class="icheck-success d-inline gender-selection">
                <input type="radio" id="radioPrimary3" name="r1">
                <label for="radioPrimary3">
                  Other
                </label>
              </div>
            </div>
          </div>
          <!-- /.card-body -->    
  
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  