<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>00000{{manager_id}}</h3>

        <p>Your Manager ID</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{branch_name}}</h3>

        <p>Your Branch</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{num_employees}}</h3>

        <p>Employees work</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{num_accounts}}</h3>

        <p>Total Accounts</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Branch wise Total Transactions</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 300px;" >
      <table class="table table-striped table-head-fixed">
        <thead>
        <tr>
  
          <th>#</th>
          <th>Transaction ID</th>
          <th>Amount</th>
          <th>From Account</th>
          <th>To Account</th>
          <th>Transaction Time</th>
          <th>Sender Remarks</th>
          <th>Benifiery Remarks</th>
          <th>Branch In/Out</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions; let i = index">
          <td>{{i + 1}}</td>
          <td>{{transaction.transfer_id}}</td>
          <td>{{transaction.amount}}</td>
          <td> {{transaction.from_account}}</td>
          <td>{{transaction.to_account}}</td>
          <td>{{transaction.transferd_time| date: 'yyyy-MM-dd'}}</td>
          <td>{{transaction.sender_remarks}}</td>
          <td>{{transaction.beneficiary_remarks}}</td>
          <td>
            <span
                  class="badge bg-success"
                  *ngIf="transaction.direction == 'up'"
                  >in</span
                >
                <span
                  class="badge bg-warning"
                  *ngIf="transaction.direction == 'down'"
                  >out</span
                >
                <span
                  class="badge bg-primary"
                  *ngIf="transaction.direction == 'no-change'"
                  >no-change</span
                >
          </td>
        </tr>
      </table>
  
    </div>
    <!-- /.card-body -->
  </div>
  
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Branch wise Total Withdrawals</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 300px;" >
      <table class="table table-striped table-head-fixed">
        <thead>
        <tr>
  
          <th>#</th>
          <th>Withdrawal ID</th>
          <th>Amount</th>
          <th>Account ID</th>
          <th>Withdrawal Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let withdrawal of withdrwals; let i = index">
          <td>{{i + 1}}</td>
          <td>{{withdrawal.withdrawal_id}}</td>
          <td>{{withdrawal.amount}}</td>
          <td>{{withdrawal.account_id}}</td>
          <td>{{withdrawal.withdrawal_time| date: 'yyyy-MM-dd'}}</td>
        </tr>
      </table>
  
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Late Loan Details</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 300px;" >
      <table class="table table-striped table-head-fixed">
        <thead>
        <tr>
          <th>#</th>
          <th>Installment Id</th>
          <th>Installment Number</th>
          <th>Due Date</th>
          <th>Amount</th>
          <th>Loan ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let loan of loans; let i = index">
          <td>{{i + 1}}</td>
          <td>{{loan.installment_id}}</td>
          <td>{{loan.installment_number}}</td>
          <td>{{loan.due_date| date: 'yyyy-MM-dd'}}</td>
          <td>{{loan.amount}}</td>
          <td>{{loan.loan_basic_detail_id}}</td>
        </tr>
      </table>
      <p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>