<div class="card">
  <div class="card-header">
    <h3 class="card-title">Employee Details</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        
        <th>EmployeeID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Contact Number</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>123</td>
        <td>Kamal</td>
        <td>Male</td>
        <td> 413145352</td>
      </tr>
      <tr>
        <td>145</td>
        <td>Navin
        </td>
        <td>Male</td>
        <td>523423421</td>
      </tr>
      
    </table>
    
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Account Holder details</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Account number</th>
        <th>Name</th>
        <th>Amount</th>
        <th>DOB</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>131321</td>
        <td>Damika Anupma
        </td>
        <td>1212131</td>
        <td> 2022.12.21</td>
        <td>damikaanupama@gmail.com</td>
      </tr>
      <tr>
        <td>1231332</td>
        <td>Asel Uthsara
        </td>
        <td>123213121</td>
        <td>2022.8.13</td>
        <td>aseluthsara@gmail.com</td>
      </tr>
      <tr>
        <td>312311231</td>
        <td>Oshan sandeepa
        </td>
        <td>13122222222</td>
        <td>2022.12.1</td>
        <td>oshansandeepa@gmail.com</td>
      </tr>
      
      
    </table>
    <p>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->